@model StudentManagementSystem.Models.Students

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="app-content">
    <div class="container">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Students</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.StudentName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StudentName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StudentGender)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StudentGender)
                </dd>
                <dd>
                    @Html.DisplayNameFor(model => model.FatherName)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.FatherName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FatherPhone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FatherPhone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MotherName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MotherName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MotherPhone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MotherPhone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="StudentId" />
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
        </div>
        </div>
